    <template id="hourly-forecast-period-template">
      <li class="hourly-period">
        <span class="hourly-hour" aria-hidden="true"></span>
        <svg class="cielo-icon hourly-condition-icon" aria-hidden="true" hidden>
          <use></use>
        </svg>
        <span class="hourly-precipitation" aria-hidden="true">
          <span class="hourly-precipitation-probability"></span>
        </span>
        <span class="hourly-temperature" aria-hidden="true">—</span>
        <span class="hourly-wind-reading" aria-hidden="true">
          <svg class="cielo-icon hourly-wind-direction-arrow" aria-hidden="true" hidden>
            <use href="#cielo-icon-navigation-2"></use>
          </svg>
          <span class="hourly-wind-speed-reading">
            <span class="hourly-wind-speed">—</span>
            <span class="hourly-wind-speed-separator">-</span>
            <span class="hourly-wind-gust">—</span>
          </span>
        </span>
        <span class="hourly-precipitation-reading" aria-hidden="true">
          <span class="hourly-mode-precipitation-probability">—</span>
          <span class="hourly-precipitation-amount">—</span>
        </span>
        <span class="hourly-humidity-reading" aria-hidden="true">
          <span class="hourly-humidity-value">—</span><span class="hourly-humidity-unit"></span>
        </span>
        <span class="hourly-apparent-temperature" aria-hidden="true">—</span>
      </li>
    </template>
